@model IEnumerable<UnravelTravel.Models.ViewModels.Restaurants.RestaurantViewModel>

<div class="card-deck container-fluid">
    @foreach (var item in Model)
    {
        <div class="col-md-4">
            <div class="card text-white bg-dark mb-3" style="max-width: 20rem; height: 300px">
                <a asp-controller="Restaurants" asp-action="Details" asp-route-id="@item.Id">
                    <img style="height: 150px" class="card-img-top" src="@item.ImageUrl" alt="Card image cap">
                </a>
                <div class="card-body text-center">
                    <h5 class="card-title">"@item.Name"</h5>
                    <h6 class="card-title">@item.SplitWordsType</h6>
                    @if (this.User.IsInRole(GlobalConstants.AdministratorRoleName))
                    {
                        <div calss="row">
                            <a class=" btn btn-outline-primary" asp-area="Administrator" asp-controller="Restaurants" asp-action="Edit" asp-route-id="@item.Id">Edit</a>
                            <a class=" btn btn-outline-warning" asp-area="Administrator" asp-controller="Restaurants" asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                        </div>
                    }
                </div>
            </div>
        </div>
    }
</div>
