@model IEnumerable<UnravelTravel.Models.ViewModels.Activities.ActivityViewModel>

<div class="card-deck container-fluid">
    @foreach (var item in Model)
    {
        <div class="col-md-4">
            <div class="card text-white bg-info mb-3" style="max-width: 20rem; height: 350px">
                <a asp-controller="Activities" asp-action="Details" asp-route-id="@item.Id">
                    <img style="height: 150px" class="card-img-top" src="@item.ImageUrl" alt="Card image cap">
                </a>
                <div class="card-body text-center">
                    <h5 class="card-title">@item.Name</h5>
                    <p>
                        @item.DateAsString
                        @if (item.HasPassed)
                        {
                            <span class="badge badge-warning">Passed</span>
                        }
                    </p>
                    @if (this.User.IsInRole(GlobalConstants.AdministratorRoleName))
                    {
                        <div class="row">
                            <a class=" btn btn-outline-primary" asp-area="Administrator" asp-controller="Activities" asp-action="Edit" asp-route-id="@item.Id">Edit</a>
                            <a class=" btn btn-outline-warning" asp-area="Administrator" asp-controller="Activities" asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                        </div>
                    }
                    else
                    {
                        <a class=" btn btn-outline-info" asp-area="" asp-controller="Activities" asp-action="Details" asp-route-id="@item.Id">Details</a>
                    }
                </div>
            </div>
        </div>
    }
</div>
