@model UnravelTravel.Services.Data.Models.Home.SearchResultViewModel
@{
    this.ViewData["Title"] = "Home Page";
}

@await this.Html.PartialAsync("_CarouselPartial")
<br />
@await this.Html.PartialAsync("_MainEntitiesPartial")
<br />

<div class="jumbotron text-center" style="padding-top: 30px; padding-bottom: 30px;">
    <div class="row d-flex.justify-content-center">
        <h3 class="col-md-12" style="color:salmon">@Model.DestinationName</h3>
        @*<h3 class="col-md-4" style="color:salmon">@Model.StartDate</h3>
        <h3 class="col-md-4" style="color:salmon">@Model.EndDate</h3>*@
    </div>
    <h4>Activities</h4>
    @await this.Html.PartialAsync("_DestinationActivitiesPartial", @Model.Activities)
    @if (!Model.Activities.Any())
    {
        <p class="text-center">
            <em class="text-muted">No activities for this period</em>
        </p>
    }
    <h4>Restaurants</h4>
    @await this.Html.PartialAsync("_DestinationRestaurantsPartial", @Model.Restaurants)
    @if (!Model.Restaurants.Any())
    {
        <p class="text-center">
            <em class="text-muted">No restaurants in this destination</em>
        </p>
    }
    <a asp-area="" asp-controller="Home" asp-action="Index" class="btn btn-outline-primary">New search</a>
</div>
