@model UnravelTravel.Models.ViewModels.Restaurants.RestaurantEditViewModel
@{
    this.ViewData["Title"] = "Edit Restaurant";
    var destinations = this.ViewData["Destinations"] as IEnumerable<SelectListItem>;
}
<div class="row justify-content-center">
    <form enctype="multipart/form-data" asp-area="Administrator" asp-controller="Restaurants" asp-action="Edit" method="post" class="text-center col-md-6">
        <h4>Edit restaurant</h4>
        <hr />
        <div class="form-group">
            <label asp-for="Name"></label>
            <input asp-for="Name" class="form-control col-md-12" placeholder="@Model.Name" />
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="DestinationId"></label>
            <select asp-for="DestinationId" asp-items="destinations" class="form-control col-md-12"></select>
            <span asp-validation-for="DestinationId" class="text-danger"></span>
        </div>
        <div form-group>
            <label asp-for="@Model.ImageUrl"></label>
            <img style="height: 200px; width: 100%;" class="card-img-top" src="@Model.ImageUrl" alt="Destination image" />
        </div>
        <div class="form-group">
            <p>New image</p>
            <input type="file" asp-for="NewImage" name="NewImage" />
            <span asp-validation-for="NewImage" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Address"></label>
            <input asp-for="Address" class="form-control col-md-12" placeholder="@Model.Address" />
            <span asp-validation-for="Address" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Seats"></label>
            <input asp-for="Seats" class="form-control col-md-12" placeholder="@Model.Seats" />
            <span asp-validation-for="Seats" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Type"></label>
            <select class="form-control col-md-12" asp-for="Type" asp-items="@(Html.GetEnumSelectList<RestaurantType>())">
                <option selected="">@Model.Type</option>
            </select>
            <span asp-validation-for="Type" class="text-danger"></span>
        </div>
        <button type="submit" class="btn btn-outline-primary">Edit Restaurant</button>
    </form>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
