@model IEnumerable<UnravelTravel.Services.Data.Models.Restaurants.RestaurantViewModel>

@{
    ViewData["Title"] = "All Restaurants";
}

<div class="container-fluid text-center">
    <h1>All restaurants</h1>
</div>
<div class="card-deck container-fluid">
    @foreach (var item in Model)
    {
        <div class="col-md-4">
            <div class="card text-white bg-info mb-3" style="max-width: 20rem;">
                <a asp-controller="Restaurants" asp-action="Details" asp-route-id="@item.Id">
                    <img style="height: 200px; width: 100%;" class="card-img-top" src="@item.ImageUrl" alt="Card image cap">
                </a>
                <div class="card-body text-center">
                    <h5 class="card-title">@item.Name</h5>
                    <h6 class="card-title">@item.Type</h6>
                    <h6 class="card-title">Destination: @item.DestinationName</h6>
                    @if (this.User.IsInRole("Administrator"))
                    {
                        <div calss="row">
                            <a class=" btn btn-secondary" asp-area="Administrator" asp-controller="Restaurants" asp-action="Edit" asp-route-id="@item.Id">Edit</a>
                            <a class=" btn btn-secondary" asp-area="Administrator" asp-controller="Restaurants" asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                        </div>
                    }
                    else
                    {
                        <a class="btn btn-secondary" asp-area="" asp-controller="Restaurants" asp-action="Details" asp-route-id="@item.Id">Details</a>
                    }
                </div>
            </div>
        </div>
    }
</div>