@model UnravelTravel.Services.Data.Models.Restaurants.AllRestaurantsViewModel

@{
    ViewData["Title"] = "All";
}

<div class="container-fluid text-center">
    <h1>All restaurants</h1>
</div>
<div class="card-deck container-fluid">
    @foreach (var item in Model.Restaurants)
    {
        <div class="col-md-4">
            <div class="card">
                <a asp-controller="Restaurants" asp-action="Details" asp-route-id="@item.Id">
                    @*<img style="height: 250px" class="card-img-top" src="@item.ImageUrl" alt="Card image cap">*@
                </a>
                <div class="card-body text-center">
                    <h5 class="card-title">@item.Name</h5>
                    <h5 class="card-title">@item.Type</h5>
                    <h5 class="card-title">@item.DestinationName</h5>
                    <div calss="row">
                        <a class=" btn btn-secondary" asp-controller="Restaurants" asp-action="Edit" asp-route-id="@item.Id">Edit</a>
                        <a class=" btn btn-secondary" asp-controller="Restaurants" asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                    </div>
                </div>  
            </div>
        </div>
    }
</div>