@model UnravelTravel.Services.Data.Models.Restaurants.RestaurantDetailsViewModel
@{
    this.ViewData["Title"] = "Restaurant details";
}
<h1 class="text-center">@Model.Name</h1>
<div class="container">
    <ul>
        <li class="text-center">Destination: @Model.DestinationName</li>
        <li class="text-center">Restaurant type: @Model.Type</li>
        <li class="text-center">Total seats: @Model.Seats</li>
        <li class="text-center">Restaurant rating: 
            @if (Model.AverageRating != 0.0)
            {
                @Model.AverageRating.ToString("F2")
            }
            else
            {
                <span class="text-muted">No reviews yet</span>
            }
        </li>
    </ul>
    <div class="text-center d-flex justify-content-around">
        @if (this.User.IsInRole(GlobalConstants.UserRoleName))
        {
            <a class="btn btn-secondary" asp-controller="Reservations" asp-action="Book" asp-route-id="@Model.Id">Book restaurant</a>
        }
        else if (this.User.IsInRole(GlobalConstants.AdministratorRoleName))
        {
            <a class="btn btn-secondary" asp-area="Administrator" asp-controller="Restaurants" asp-action="Edit" asp-route-id="@Model.Id">Edit activity</a>
            <a class="btn btn-secondary" asp-area="Administrator" asp-controller="Restaurants" asp-action="Delete" asp-route-id="@Model.Id">Delete activity</a>
        }
    </div>
    <hr />
    <iframe class="w-100"
            height="450"
            src="https://maps.google.com/maps?q=@Model.MapsAddress&t=&z=13&ie=UTF8&iwloc=&output=embed"
            style="border: 0"
            allowfullscreen></iframe>
</div>