@model IEnumerable<UnravelTravel.Services.Data.Models.Reservations.ReservationDetailsViewModel>

@{
    ViewData["Title"] = "All Reservations";
}

<h2 class="text-center">All Reservations</h2>

<table class="table table-hover text-center">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.UserFullName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RestaurantName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ReservationDateString)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ReservationHourString)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PeopleCount)
            </th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td display-for="@item.UserFullName"></td>
                <td display-for="@item.RestaurantName"></td>
                <td display-for="@item.ReservationDateString"> </td>
                <td display-for="@item.ReservationHourString"> </td>
                <td display-for="@item.PeopleCount"> </td>
                <td>
                    <a asp-area="" asp-controller="Reservations" asp-action="Details" asp-route-id="@item.Id">Details</a>
                </td>
            </tr>
        }
    </tbody>
</table>
