@model UnravelTravel.Models.ViewModels.Reservations.ReservationDetailsViewModel

@{
    ViewData["Title"] = "Reservation Details";
}

<h2>Reservation Details</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.UserFullName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.UserFullName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.RestaurantName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.RestaurantName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ReservationDateString)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ReservationDateString)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ReservationHourString)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ReservationHourString)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.PeopleCount)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.PeopleCount)
        </dd>
    </dl>
</div>
<div>
    <a asp-area="" asp-controller="Reservations" asp-action="All">Back to Index</a>
</div>
