@using UnravelTravel.Services.Data.Contracts
@model IEnumerable<UnravelTravel.Models.ViewModels.Reservations.ReservationDetailsViewModel>
@{
    ViewData["Title"] = "Reservations";
}

<h3 class="text-center">My Reservations</h3>

<table class="table table-hover" style="width: 100%" id="reservationsTable">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RestaurantName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ReservationDayString)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ReservationHourString)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UserFullName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PeopleCount)
            </th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td display-for="@item.Id"></td>
                <td>
                    <a class="text-dark" asp-area="" asp-controller="Restaurants" asp-action="Details" asp-route-id="@item.RestaurantId">
                        @item.RestaurantName
                    </a>
                </td>
                <td display-for="@item.ReservationDayString"> </td>
                <td display-for="@item.ReservationHourString"> </td>
                <td display-for="@item.UserFullName"></td>
                <td display-for="@item.PeopleCount"> </td>
                <td>
                    <a class="btn btn-outline-primary" asp-area="" asp-controller="Reservations" asp-action="Details" asp-route-id="@item.Id">Details</a>
                    @if (item.HasPassed)
                    {
                        if (item.IsRated)
                        {
                            <button class="btn btn-outline-primary" disabled="">Reviewed</button>
                        }
                        else
                        {
                            <button id="@item.RestaurantId-button" type="button" class="btn btn-outline-primary" data-toggle="modal" data-target="#@item.RestaurantId-reviewModal">Review</button>
                            <!-- The Modal -->
                            <div class="modal fade" id="@item.RestaurantId-reviewModal">
                                <div class="modal-dialog">
                                    <div class="modal-content justify-content-center">
                                        <!-- Modal Header -->
                                        <div class="modal-header">
                                            <h3 class="modal-title text-center">Review restaurant "<a asp-area="" asp-controller="Restaurants" asp-action="Details" asp-route-id="@item.RestaurantId">@item.RestaurantName</a>"</h3>
                                            <button type="button" class="close" data-dismiss="modal">×</button>
                                        </div>
                                        <!-- Modal body -->
                                        <div class="modal-body">
                                            <fieldset class="text-center">
                                                <label>Rating:</label>
                                                <div class="form-group">
                                                    <input name="@item.RestaurantId-rating" type="radio" value="1" class=" col-md-2" style="margin-right: -30px" />1
                                                    <input name="@item.RestaurantId-rating" type="radio" value="2" class=" col-md-2" style="margin-right: -30px" />2
                                                    <input name="@item.RestaurantId-rating" type="radio" value="3" class=" col-md-2" style="margin-right: -30px" />3
                                                    <input name="@item.RestaurantId-rating" type="radio" value="4" class=" col-md-2" style="margin-right: -30px" />4
                                                    <input name="@item.RestaurantId-rating" type="radio" value="5" class=" col-md-2" style="margin-right: -30px" />5
                                                </div>
                                                <div class="form-group">
                                                    <label>Review:</label>
                                                    <textarea id="@item.RestaurantId-content" rows="5" cold="50" class="form-control col-md-12"></textarea>
                                                    <span class="text-danger"></span>
                                                </div>
                                                <button onclick="reviewRestaurant(@item.RestaurantId)" class="btn btn-outline-primary">Add review</button>
                                            </fieldset>
                                        </div>
                                        <!-- Modal footer -->
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }
                    }
                </td>
            </tr>
        }
    </tbody>
</table>

@section Scripts {
    <script>
        $(document).ready(function () {
            $('#reservationsTable').addClass('nowrap').dataTable({
                responsive: true,
            });
        });
    </script>
}