@model UnravelTravel.Models.ViewModels.Destinations.DestinationDetailsViewModel
@{
    this.ViewData["Title"] = "Destination details";
}
<h1 class="text-center">@Model.Name</h1>

<div class="container">
    <cache expires-after="@TimeSpan.FromHours(1)" vary-by="@Model.Id">
        <p class="text-center  text-info">@Model.Information</p>
    </cache>
    <h4 class="text-center  text-info">Top activities:</h4>
    <div class="jumbotron">
        @await this.Html.PartialAsync("_DestinationActivitiesPartial", @Model.TopActivities)
        @if (Model.Activities.Any())
        {
            <h6 class="text-center text-center text-info">Total activities: @Model.Activities.Count()</h6>
        }
        else
        {
            <p class="text-center">
                <em class="text-muted">No activities in this destination</em>
            </p>
        }
    </div>
    <h4 class="text-center text-info">Top Restaurants:</h4>
    <div class="jumbotron">
        @await this.Html.PartialAsync("_DestinationRestaurantsPartial", @Model.TopRestaurants)
        @if (Model.Restaurants.Any())
        {
            <h6 class="text-center text-center text-info">Total restaurants: @Model.Restaurants.Count()</h6>
        }
        else
        {
            <p class="text-center">
                <em class="text-muted">No restaurants in this destination</em>
            </p>
        }
    </div>
    <cache expires-after="@TimeSpan.FromHours(1)" vary-by="@Model.Id">
        <iframe class="w-100"
                height="450"
                src="https://maps.google.com/maps?q=@Model.Name&t=&z=13&ie=UTF8&iwloc=&output=embed"
                style="border: 0"
                allowfullscreen></iframe>
    </cache>
</div>