@model IEnumerable<UnravelTravel.Services.Data.Models.Activities.ActivityViewModel>

@{
    ViewData["Title"] = "All Activities";
}

<div class="container-fluid text-center">
    <h1>All activities</h1>
</div>
<div class="card-deck container-fluid">
    @foreach (var item in Model)
    {
        <div class="col-md-4">
            <div class="card">
                <a asp-controller="Destinations" asp-action="Details" asp-route-id="@item.Id">
                    @*<img style="height: 250px" class="card-img-top" src="@item.ImageUrl" alt="Card image cap">*@
                </a>
                <div class="card-body text-center">
                    <h5 class="card-title">@item.Name</h5>
                    @if (this.User.IsInRole("Administrator"))
                    {
                        <div calss="row">
                            <a class=" btn btn-secondary" asp-area="Administrator" asp-controller="Activities" asp-action="Edit" asp-route-id="@item.Id">Edit</a>
                            <a class=" btn btn-secondary" asp-area="Administrator" asp-controller="Activities" asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                        </div>
                    }
                </div>
            </div>
        </div>
    }
</div>