@model UnravelTravel.Models.ViewModels.Activities.ActivityDetailsViewModel
@{
    this.ViewData["Title"] = "Activity details";
}

<h1 class="text-center">@Model.Name</h1>
<div class="container">
    <ul>
        @if (this.User.IsInRole(GlobalConstants.AdministratorRoleName))
        {
            <li class="text-center">
                <a asp-area="Administrator" asp-controller="Locations" asp-action="All">Location</a>: @Model.LocationName
            </li>
        }
        else
        {
            <li class="text-center">Location: @Model.LocationName</li>
        }
        <li class="text-center">Date: @Model.Date</li>
        <li class="text-center">Activity type: @Model.SplitWordsType</li>
        <li class="text-center">Price: @Model.Price</li>
        <li class="text-center">
            Activity rating:
            @if (Model.AverageRating != 0.0)
            {
                @Model.AverageRating.ToString("F2")
            }
            else
            {
                <span class="text-muted">No reviews yet</span>
            }
        </li>
    </ul>
    <div class="row d-flex justify-content-around">
        <form class="text-center" method="post" asp-area="" asp-controller="ShoppingCart" asp-action="Add" asp-route-id="@Model.Id" asp-route-quantity="quantity">
            <div class="row form-group justify-content-center">
                <label>Quantity: </label>&nbsp;
                <input type="number" id="quantity" name="quantity" class="form-control form-control-sm col-md-3" />
            </div>
            <button type="submit" class="btn btn-outline-primary">Add to cart</button>
        </form>
        @if (this.User.IsInRole(GlobalConstants.AdministratorRoleName))
        {
            <a class="btn btn-outline-primary" asp-area="Administrator" asp-controller="Activities" asp-action="Edit" asp-route-id="@Model.Id">Edit activity</a>
            <a class="btn btn-outline-warning" asp-area="Administrator" asp-controller="Activities" asp-action="Delete" asp-route-id="@Model.Id">Delete activity</a>
        }
    </div>
</div>