@model UnravelTravel.Services.Data.Models.Activities.ActivityDetailsViewModel
@{
    this.ViewData["Title"] = "Activity details";
}

<h1 class="text-center">@Model.Name</h1>
<div class="container">
    <ul>
        @if (this.User.IsInRole("Administrator"))
        {
            <li class="text-center">
                <a asp-area="Administrator" asp-controller="Locations" asp-action="All">Location</a>: @Model.LocationName
            </li>
        }
        else
        {
            <li class="text-center">Location: @Model.LocationName</li>
        }
        <li class="text-center">Date: @Model.Date</li>
        <li class="text-center">Activity type: @Model.Type</li>
    </ul>
    @if (this.User.IsInRole("User"))
    {
        <form class="text-center" method="post" asp-area="" asp-controller="Tickets" asp-action="Book" asp-route-id="@Model.Id">
            <button type="submit" class="btn btn-default">Book ticket</button>
        </form>
    }
</div>