@model UnravelTravel.Models.ViewModels.Activities.ActivityDetailsViewModel
@{
    this.ViewData["Title"] = "Activity details";
}

<h1 class="text-center">@Model.Name</h1>
<div class="container">
    <div class="text-center">
        <img src="@Model.ImageUrl" class="img-fluid rounded" style="height: 450px; width: 75%;" alt="Activity image" />
    </div>
    <table class="table table-borderless text-center">
        <thead>
            <tr>
                <th width=25%;><h4>Date</h4></th>
                <th width=25%;><h4>Type</h4></th>
                <th width=25%;><h4>Price</h4></th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th width=25%;>
                    <b>
                        @Model.DateString
                        @if (Model.IsPassed)
                        {
                            <span class="badge badge-warning">&nbsp;Passed</span>
                        }
                    </b>
                </th>

                <td width=25%;><b>@Model.SplitWordsType</b></td>
                <td width=25%;><b>$@Model.Price</b></td>
            </tr>
        </tbody>
    </table>
    <hr />
    <h4>Description</h4>
    <p style="white-space: pre-line">@Model.Description</p>
    <hr />
    <h4>Know before you go</h4>
    <p style="white-space: pre-line">@Model.AdditionalInfo</p>
    <hr />
    <h4>Address:</h4>
    <p>
        @Model.Address
        @if (Model.LocationName != null)
        {
            <b>- @Model.LocationName</b>
        }
    </p>
    <hr />
    <div class="row d-flex justify-content-around">
        @if (this.User.IsInRole(GlobalConstants.AdministratorRoleName))
        {
            <a class="btn btn-outline-primary" asp-area="Administrator" asp-controller="Activities" asp-action="Edit" asp-route-id="@Model.Id">Edit activity</a>
            <a class="btn btn-outline-warning" asp-area="Administrator" asp-controller="Activities" asp-action="Delete" asp-route-id="@Model.Id">Delete activity</a>
        }
        else
        {
            <form class="text-center" method="post" asp-area="" asp-controller="ShoppingCart" asp-action="Add" asp-route-id="@Model.Id" asp-route-quantity="quantity">
                <div class="row form-group justify-content-center">
                    <h4><label>Quantity: </label></h4>&nbsp;
                    <input type="number" id="quantity" name="quantity" class="form-control form-control-sm col-md-3" />
                </div>
                <button type="submit" class="btn btn-lg btn-outline-primary"><i class="fas fa-cart-plus">&nbsp;</i>Add to cart</button>
            </form>
        }
    </div>
    <br />
    <cache expires-after="@TimeSpan.FromHours(1)" vary-by="@Model.Id">
        <iframe class="w-100"
                height="450"
                src="https://maps.google.com/maps?q=@Model.Address&t=&z=13&ie=UTF8&iwloc=&output=embed"
                style="border: 0"
                allowfullscreen></iframe>
    </cache>
</div>