@model IEnumerable<UnravelTravel.Services.Data.Models.Tickets.TicketDetailsViewModel>
@{
    ViewData["Title"] = "All Tickets";
}

<h2 class="text-center">All Tickets</h2>

<table class="table table-hover t">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ActivityName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ActivityDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ActivityLocationName)
            </th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td display-for="@item.ActivityName"></td>
                <td display-for="@item.ActivityDate"></td>
                <td display-for="@item.ActivityLocationName"> </td>
                <td>
                    <a asp-area="" asp-controller="Tickets" asp-action="Details" asp-route-id="@item.Id">Details</a>
                </td>
            </tr>
        }
    </tbody>
</table>
